.correct {
  color: green;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 30px;
  padding: 20px;
  border: 1px solid #ccc;
}

.incorrect {
  color: red;
}
