.question {
  text-transform: capitalize;
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

.btn-next {
  margin: 0;
  width: 100%;
}
