.container {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
}
